<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <a href = "https://github.com/dapengliamy/Kaggle_Competition_Whats-cooking">hello</a>
    <p>I am a master student in Computer Science (Artificial Intelligence Group) of Oregon State University with a GPA 4.0. I am also a graduate teaching assistant. </p>
    <p>I am looking for a full time job or internship in the software engineering area.  </p>
</div><!--//summary-->
</section><!--//section-->
