<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Teaching Assistant</h3>
                            <div class="time">Sep.2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Oregon State University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TA for CS344, Operating System I (Spring 2016, Fall 2016, Winter 2017)</p>  
                        <p>TA for CS325, Algorithms (Winter 2016, Summer 2016) </p>
			<p>TA for CS261, Data Structures (Fall 2015) </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Research Assistant</h3>
                            <div class="time">2010 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Southern California</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Investigated the role of UVRAG in DNA damage repair; published a paper</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
             </section><!--//section-->    
