<section class="section projects-section">

                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Projects of Machine Learning, Deep Learning &amp; Natural Language Processing, Database</p>
                </div><!--//intro--> 
                <div class="item">
                    <span class="project-title">
		    <a href="#" target="_blank">
		      Kaggle Competition What's cooking
		    </a></span> - <span class="project-tagline">79.03% Accuracy(on top 15% in the Kaggle competition, best result so far was 82.03%)
		    <ul>
                    <li>
                        Multiclass classification (scikit-learn) enhanced by word embeddings (word2vec)     
                    </li>
                    <li>
                        Hierarchical clustering of cuisines with Ward linkage
                    </li>
		    <li>
		        Dimensionality reduction using PCA: project all cuisines onto two dimensions
                    </li>
                    </ul>
		    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
		    <a href="#" target="_blank">
		      Predict Apartment Rental Price in Corvallis
		    </a>
		    </span> - <span class="project-tagline">Score for Neural Network Regression Model is 73.3%. 
		      <ul>
                    <li>
                        Collected data by crawling the Web using Scrapy
                    </li>
                    <li>
                        Stored and queried the data using MySQL
                    </li>
                    <li>
                        Trained two regression models (linear and neural) to predict price (scikit-learn)
                    </li>
                    </ul>
		    </span>
                </div><!--//item-->
                
            </section><!--//section-->
